@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Lato:wght@900&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        background-color: rgb(140, 160, 241);
        
        margin-top: 5%;
        justify-content: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.header-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.header-image{
    size: 2%;
}

.header-title{
    font-family: 'Righteous', cursive;
    font-weight: 600;
    font-size:4em;
    color: rgb(0, 0, 0)
} 

.header-subtitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    color: rgb(58, 43, 43)
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    border-radius: ;
}

.form-tiltle{
    font-family: 'Righteous', cursive;
}

.student-name{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-content:center;
}

.fname{
    display: flex;
    flex-direction: column;
}

.gname{
    display: flex;
    flex-direction: column;
}

.lname{
    display: flex;
    flex-direction: column;
}

.birthinfo{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.day{
    display: flex;
    flex-direction: column;
}

.month{
    display: flex;
    flex-direction: column;
}

.year{
    display: flex;
    flex-direction: column;
}

.sex{
    display: flex;
    flex-direction: column;
}

.contact{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center
}

.cell{
    display: flex;
    flex-direction: column;
}

.main-btn{
    background-color: rgb(38, 85, 167);
    width: 180px;
    height: 60px;
    border:none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 25);
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 40px;
}

.main-btn:hover{
    background-color: rgb(12, 116, 40);
    cursor: pointer;
}